<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterMetrics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterMetrics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TwitterMetrics.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value>D1ymPWHCxpkPOeNIrXZmNjXxZ</value>
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value>9vQvDwSUDwwPrVIV0xVMfgSntQItuV8M7nKQBgRmCDIvRYljRp</value>
            </setting>
            <setting name="BearerToken" serializeAs="String">
                <value>AAAAAAAAAAAAAAAAAAAAAOluKQEAAAAAIzRc6a4zvMqFqqpMx5%2FUH3hYhv0%3DkRzPRlz6D8YkzJcsyg1ld2vsOqhMJMBKo2zOumc7Edf6gNaLFY</value>
            </setting>
        </TwitterMetrics.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TwitterMetrics.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>https://api.twitter.com/2/tweets/sample/stream?expansions=attachments.poll_ids,attachments.media_keys,author_id,entities.mentions.username,geo.place_id,in_reply_to_user_id,referenced_tweets.id,referenced_tweets.id.author_id&amp;user.fields=created_at&amp;media.fields=duration_ms,height,media_key,preview_image_url,type,url,width,public_metrics&amp;place.fields=contained_within,country,country_code,full_name,geo,id,name,place_type&amp;poll.fields=duration_minutes,end_datetime,id,options,voting_status&amp;tweet.fields=attachments,author_id,context_annotations,conversation_id,created_at,entities,geo,id,in_reply_to_user_id,lang,public_metrics,possibly_sensitive,referenced_tweets,reply_settings,source,text,withheld</value>
            </setting>
            <setting name="TimeOutMS" serializeAs="String">
                <value>30000</value>
            </setting>
        </TwitterMetrics.Properties.Settings>
    </userSettings>
</configuration>